<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5y0edXve5aVotCfmR84W_IkLpPk8RAfo</string>
	<key>GCM_SENDER_ID</key>
	<string>932031628532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adsLibrary</string>
	<key>PROJECT_ID</key>
	<string>adslibrary-test</string>
	<key>STORAGE_BUCKET</key>
	<string>adslibrary-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932031628532:ios:e686a64536f410b1bd0aa1</string>
</dict>
</plist>